body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e9e8;
}

header {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px 48px;      /* внутренние отступы */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header:first-of-type {
  margin-top: 200px;  /* для первого */
}

header:nth-of-type(2) {
  margin-top: 22px;  /* для второго */
}

header:nth-of-type(3) {
  margin-top: 22px;  /* для третьего */
}

header:nth-of-type(4) {
  margin-top: 24px;  /* для четвёртого */
  margin-bottom: 31px; /* снизу */
}

.header-block {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 48px;   /* расстояние между <a> */
}

.nav a {
    text-decoration: none;            /* убираем подчёркивание */
    color: rgba(36, 36, 36, 1);     /* цвет текста */
    font-family: 'Inter' sans-serif;  /* Основной шрифт Inter */
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

.nav a.active {
    color: rgba(88, 86, 214, 1);
}

.buttons {
    display: flex;
    gap: 8px;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.btn-secondary {
    background-color: rgba(240, 240, 240, 1);
    color: rgba(36, 36, 36, 1);
}

.btn.btn-secondary {
  display: inline-flex;     /* flex-контейнер */
  align-items: center;      /* выравнивание по центру */
  gap: 6px;                 /* отступ между текстом и стрелкой */
  background-color: rgba(240, 240, 240, 1);
  color: rgba(36, 36, 36, 1);
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.arrow {
  font-size: 14px;           /* размер стрелки */
  line-height: 1;            /* убираем лишние отступы */
  color: rgba(36, 36, 36, 1);
  display: inline-flex;      /* чтобы стрелка велась как иконка */
  align-items: center;       /* выравнивание по вертикали */
  border: 1.5px;
}

.btn-primary {
    background-color: rgba(92, 83, 233, 1);
    color: rgba(255, 255, 255, 1);
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid rgba(238, 240, 243, 1);
  padding: 10px 14px;
  border-radius: 10px;
}

.search-box input {
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  gap: 8px;
}

.header2 {
    background-color: rgba(255, 255, 255, 1);
    padding: 32px 110px;      /* внутренние отступы */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav2 {
    display: flex;
    align-items: center;
    gap: 32px;   /* расстояние между <a> */
}

.nav2 a {
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;            /* убираем подчёркивание */
    color: rgba(23, 15, 73, 1);     /* цвет текста */
    font-family: 'Inter' sans-serif;  /* Основной шрифт Inter */
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.button-rounded {
  background-color: rgba(74, 58, 255, 1);
  color: rgba(255, 255, 255, 1);     /* цвет текста */
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  padding: 18px 24px;
  border-radius: 76px;
  border: none;
  cursor: pointer;
}